body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("../img/15-19-17_2020-06-17.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}